{% extends 'template.html.twig' %}
{% block title %}
{{ firstname }} {{ name }}
{% endblock %}
{% block body %}
    {{ include('fragments/date-jour.html.twig') }}
            <h1> Bienvenu {{ firstname }} {{ name }}</h1>
            <p>Mon premier projet en symfony  et c'est pas fini </p>

{% endblock %}

