{% extends 'template.html.twig' %}
{% block title %}
    Liste des abonnées
{% endblock %}

{% block Pagetitle %}
    Liste des abonnées
{% endblock %}
{% block body %}
    <div class="row">
        {% for personne in personnes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ personne.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ personne.firstname}} </h6>
                <p class="card-text">Age : {{ personne.age }}</p>
                <a href="{{ path('personne.detail', {id: personne.id}) }}" class="card-link">Détail</a>
                <a href="{{ path('personne.delete', {id: personne.id}) }}" class="card-link">Supprimer</a>
                <a href="{{ path('personne.edit', {id: personne.id}) }}" class="card-link">Editer</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if isPaginated is defined and isPaginated%}
    <div class="row mx-auto" style="width: max-content">
        <nav aria-label="Page navigation exemple ">
            <ul class="pagination">
                {% if page != 1  %}
                <li class="page-item"><a class="page-link" href="{{ path('personne.list.alls',{ page: -1, nbre: nbre}) }}">Previous</a></li>
                {% endif %}
                {% for i in range(1, nbrePage) %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('personne.list.alls',{ page: i, nbre: nbre}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if page !=  nbrePage %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('personne.list.alls',{ page: + 1, nbre: nbre}) }}" >Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock %}
